<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/28f161943c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/registrologin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>

    <%- include('../partials/header.ejs')%>

        <main>

            <div class="perfil-container">

                <section class="imagen-perfil">

                    <div class="imagen-perfil-principal">
                        <img src="/images/users/<%= user.avatar%>" alt="">
                    </div>

                </section>

                <section class="info-perfil">
                    <div class="info-perfil-saludo">
                        <p>Hola <strong>
                                <%= user.nombre %>
                            </strong></p>
                    </div>
                    <div class="info-perfil-mail">
                        <p>Tu email registrado es <strong>
                                <%= user.email %>
                            </strong></p>
                    </div>

                    <div class="info-perfil-mail">
                        <% if (locals.admin) { %>
                            <p> Usuario administrador</p>
                            <% } else if(locals.guest){%>
                                <p>usuario invitado</p>
                                <% } %>
                    </div>

                    <% if (locals.admin) { %>

                        <% } %>
                </section>

            </div>

        </main>

        <%- include('../partials/footer.ejs')%>
</body>

</html>