<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28f161943c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registrologin.css">
</head>

<body>

    <%- include('../partials/header.ejs')%>
        <main>

            <div class="titulo-formulario-registro">
                <p>Nuevo Producto</p>
            </div>

            <div class="formulario" id="formularioCrearProducto">

                <ul class="erroresCrearProducto"></ul>

                <form action="nuevo-producto" method="POST" class="create-form" enctype="multipart/form-data">

                    <div class="control-formulario-registro">
                        <label>Nombre del Producto</label>
                        <input type="text" name="name" id="inputName"
                            value="<%= locals.oldData ? oldData.description : null %>">
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="control-formulario-registro">
                        <label>Descripcion</label>
                        <input type="text" name="description" id="inputDescription"
                            value="<%= locals.oldData ? oldData.description : null %>">
                        <% if (locals.errors && errors.description) { %>
                            <div class="text-danger">
                                <%= errors.description.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="control-formulario-registro">
                        <label>Precio</label>
                        <input type="number" name="price" class="control"
                            value="<%= locals.oldData ? oldData.price : null %>">
                    </div>


                    <div class="control-formulario-registro">
                        <label>Suba la Imagen del Producto</label>
                        <input type="file" name="fotoProducto" id="inputFotoProducto" class="control">
                        <% if (locals.errors && errors.fotoProducto) { %>
                            <div class="text-danger">
                                <%= errors.fotoProducto.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="control-formulario-registro">
                        <label for="category">Categoría:</label>
                        <select name="category" id="category">

                            <% for( let i=0; i < categories.length; i++ ) { %>
                                <% if (locals.oldData && categories[i].category_id==oldData.category) { %>

                                    <option value="<%= categories[i].category_id%>" selected>
                                        <%= categories[i].name %>
                                    </option>

                                    <% } else { %>

                                        <option value="<%= categories[i].category_id%>">
                                            <%= categories[i].name %>
                                        </option>

                                        <% } %>
                                            <% } %>

                                                <!-- 
                                                <% for (let category of categories ){ %>

                                                    <option value="<%= category.category_id%> ">
                                                        <%= category.name %>
                                                    </option>
                                                    <% } %> -->


                        </select>
                    </div>

                    <div class="control-formulario-registro">
                        <button type="submit" class="boton-formulario">
                            <span>CREAR PRODUCTO</span>
                        </button>
                    </div>
                </form>
            </div>

        </main>

        <%- include('../partials/footer.ejs')%>

            <script src="../../js/productValidations.js"></script>
            <script src="https://unpkg.com/validator@latest/validator.min.js"></script>

</body>

</html>